@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

.whale {
	position: relative;
	height: 100vh;
	width: 100vw;
	background-color: gray;
}
.top {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-100%);
	
}

.bottom {
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%,100%);
}
.div {
	border-radius: 20px;
	margin:30px;
	display: inline-block;
	height: 200px;
	width: 200px;
	background-color: white	;
	line-height: 250px;
	text-align: center;
	transition:0.5s;
	text-decoration: none;
}
.div:hover{
	transform : scale(1.2);
}
.home {
		position: relative;
	
}
.home:before{
	content: "\e900";
 font-family: "xeicon";
	position: absolute;
	display:inline-block;
	top:-25%;
	left:40%;
	font-size: 40px;
}
.home:visited {
	color: black;
}
.home:link {
	color: black;
}
.webinsert {
		position: relative;
	
}
.webinsert:before{
	content:"\eb7a";
	font-family: "xeicon";
	position: absolute;
	display:inline-block;
	top:-25%;
	left:40%;
	font-size: 40px;
}
.webinsert:visited {
	color: black;
}
.board {
	position: relative;
}
.board:before{
	content: "\eb14";
	font-family: "xeicon";
	position: absolute;
	display:inline-block;
	top:-25%;
	left:40%;
	font-size: 40px;
}
.board:visited {
	color: black;
}
.logout {
		position: relative;
	
}
.logout:before {
	content: "\e972";
	font-family: "xeicon";
	position: absolute;
	display:inline-block;
	top:-25%;
	left:40%;
	font-size: 40px;
}
.logout:visited {
	color: black;
}



